.opciones{
    height: 13vh;
}

.opcion, .screen, .contenedor {
    background: rgba(50, 48, 67);
    border-radius: 2%;
}

::-webkit-scrollbar {
    display: none;
}

.row{
    margin: 0px;
    padding: 0px;
}

.menu{
    height: 100%;
}

#mensajes{
    height: 70vh;
    overflow: scroll;
    margin-bottom: 15px;
    padding: 0px;
}

p{
    margin: 5px;
}

.screen{
    margin-right: 6px;
    margin-bottom: 6px;
    width: 100%;
    padding: 0px;
    color: white;
}

h4{
    text-align: start;
    color: white;
}

.card-img-overlay{
    display: flex;
    align-items: end;
}

.contenedor {
    height: 95%;
    padding: 12px;
}

#videoShare{
    background-color: black;
}

.panel{
    height: 100vh;
    display: flex;
    align-items: center;
}

.pantallas{
    overflow: scroll;
    height: 80vh;
}

.content{
    margin-bottom: 12px;
}

.pantallas{
    padding: 20px;
}

.opcion{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    color: white;
    margin: 5px;
    border-radius: 6%;
    width: 8vh;
    border: 1px solid rgba(50, 48, 67);
}

h6{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.opcion:hover{
    background: white;
    color: black;
}

#cerrar{
    border-style: none;
    height: 68%;
    background: transparent;
    width: 12%;
    color: rgba(82, 82, 112);
}

hr{
    background-color: rgba(82, 82, 112);
}

#cerrar:hover{
    color: white;
}

#participantes{
    height: 46vh;
}

.area{
    height: 11vh;
    display: flex;
    align-items: center;
    background: transparent;
    border-radius: 2%;
}

.encabezado{
    height: 8vh;
}

.subarea{
    height: 60%;
    background: transparent;
    border-color: rgb(129, 129, 129);
    color: white;
}

.subarea:nth-child(1):hover, .subarea:nth-child(1):focus{
    box-shadow: none;
    background: transparent;
    border-color: rgb(129, 129, 129);
    color: white;
}

#join{
    margin-left: 20px;
    height: 60%;
    border-radius: 2%;
    background-color: white;
    transition: width 1s linear 1s;
}

.join {
    width: 0%;
}

.out{
    width: 150%;
}